<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Driving Avada</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="dist/app.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <!-- Wrapper di pagina che contiene l'app -->
  <div class="wrapper" id="root">
    <!-- Header -->
    <header>
      <div class="upper-header">
        <div class="container">
          <span>We have a 95% Succesful Pass Rate!</span>

          <span><i class="fas fa-phone"></i> Give us a call to book your tuition! 1-800-555-555</span>
        </div>
      </div>

      <div class="lower-header">
        <div class="container">
          <div class="logo">
            <img src="img/avada-drivers-logo-1x.png" alt="avada drivers logo">
          </div>

          <ul>
            <li @click="" v-for="(element, index) in headerMenuData" v-bind:class="{active: index === selectedHeaderNavId}">
              {{element.name.toUpperCase()}}

              <span v-if="element.new" class="new-tag">
                NEW
              </span>

              <div v-if="element.subMenu.length !== 0" class="submenu">
                <ul>
                  <li v-for="subelement in element.subMenu">{{subelement}}</li>
                </ul>
              </div>
            </li>

            <li>
              <div class="green-btn">
                BOOK NOW
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- /Header -->

    <!-- main -->
    <main>
      <!-- jumbotron -->
      <div class="jumbotron">
        <div class="container">
          <h1>
            Drive with Avada
          </h1>

          <h3>We offer the finest driving tuition money can buy</h3>

        </div>
      </div>
      <!-- /jumbotron -->

      <!-- Lessons form box -->
      <div class="join-lessons-box">
        <div class="container">
          <div class="join-lessons-description">
            <h2>Get Behind The Wheel</h2>

            <p class="subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper.
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

          <div class="join-lessons-form">
            <div class="join-lessons-form-card">
              <h3>First Lesson Free!</h3>

              <p>When you make a block booking with us your first lesson is included free.</p>

              <form class="" action="index.html" method="post">
                <input :class="inputNameStyle" type="text" name="Name" v-model="userBookingName" placeholder="Your Name*">

                <input :class="inputEmailStyle" type="email" name="Email" v-model="userBookingEmail" placeholder="Email*">

                <input :class="inputTelephoneStyle" type="text" name="Telephone" v-model="userBookingTelephone" placeholder="Telephone">

                <input :class="inputLocationStyle" type="text" name="Location" v-model="userBookingLocation" placeholder="Location">

                <div @click="sendBooking" class="green-btn">
                  REQUEST A CALLBACK
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /Lessons form box -->

      <!-- Number box -->
      <div class="number-box">
        <div class="container">
          <div class="number-box-left">
            <h2>Start Learning to Drive Today</h2>

            <h3>Give us a call to schedule your first driving lesson</h3>
          </div>

          <div class="number-box-right">
            <i class="fas fa-phone"></i> 1-800-555-555
          </div>
        </div>
      </div>
      <!-- /Number box -->

      <!-- Courses box -->
      <div class="courses-box">
        <div class="container">
          <div class="info-card">
            <div class="img-new">
              <img src="img/new-corner.jpg" alt="new corner tag">
            </div>

            <h2>Courses</h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper
            </p>

            <div class="green-btn">
              COURSE INFORMATION
            </div>
          </div>

          <div class="course-box">
            <div class="course-box-img">
              <img src="img/courses-passplus-200x200.jpg" alt="corso 1">
            </div>

            <h4>Pass Plus</h4>

            <div class="courses-btn">
              LEARN MORE
            </div>
          </div>

          <div class="course-box">
            <div class="course-box-img">
              <img src="img/course-intensive-200x200.jpg" alt="corso 2">
            </div>

            <h4>Intensive Course</h4>

            <div class="courses-btn">
              LEARN MORE
            </div>
          </div>

          <div class="course-box">
            <div class="course-box-img">
              <img src="img/courses-instructor-200x200.jpg" alt="corso 3">
            </div>

            <h4>Instructors</h4>

            <div class="courses-btn">
              LEARN MORE
            </div>
          </div>
        </div>
      </div>
      <!-- /Courses box -->

      <!-- Generic data round bars box -->
      <div class="progress-rings-box">
        <div class="triangle-bg">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" style="fill:#e4eaed;padding:0;">
            <path d="M-1 -1 L50 99 L101 -1 Z"></path>
          </svg>
        </div>

        <div class="container">
          <div v-for="element in percentageData" class="progress-ring-card">
            <span class="percentage">{{element.percentage}}%</span>

            <h4>{{element.name.toUpperCase()}}</h4>
          </div>
        </div>
      </div>
      <!-- /Generic data round bars box -->

      <!-- Instructors box -->
      <div class="instructors-box">
        <div class="container">
          <h2>Your Instructors</h2>

          <div class="info-box">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper.
            </p>

            <div class="green-btn">
              MORE ABOUT US
            </div>
          </div>

          <div class="instructors-cards-box">
            <div class="instructor-card">
              <div class="instructor-img" title="instructor-mikehart">
                <img src="img/instructor-mikehart-400x254.jpg" alt="instructor mike hart img">
              </div>

              <h3>Mike Hart</h3>

              <div class="instructor-socials">
                <i class="fab fa-facebook-f" title="Facebook"></i>

                <i class="fab fa-twitter" title="Twitter"></i>

                <i class="fab fa-instagram" title="Instagram"></i>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>

            <div class="instructor-card">
              <div class="instructor-img" title="instructor-johnsmith">
                <img src="img/instructor-johnsmith-400x254.jpg" alt="instructor john smith img">
              </div>

              <h3>John Smith</h3>

              <div class="instructor-socials">
                <i class="fab fa-facebook-f" title="Facebook"></i>

                <i class="fab fa-twitter" title="Twitter"></i>

                <i class="fab fa-instagram" title="Instagram"></i>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>

            <div class="instructor-card">
              <div class="instructor-img" title="instructor-angelahart">
                <img src="img/instructor-angelahart-400x254.jpg" alt="instructor angela hart img">
              </div>

              <h3>Angela Hart</h3>

              <div class="instructor-socials">
                <i class="fab fa-facebook-f" title="Facebook"></i>

                <i class="fab fa-twitter" title="Twitter"></i>

                <i class="fab fa-instagram" title="Instagram"></i>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Instructors box -->

      <!-- Testimonials Box -->
      <div class="testimonials-box">
        <div class="testimonials-box-slider">
          <h2>Testimonials</h2>

          <p>Here’s what our happy drivers had to say about our services:</p>

          <div class="testimonials-box-slider-img">
            <img src="img/testimonial-sophia.png" alt="">
          </div>

          <p>Avada Driving School really helped build my confidence behind the wheel and with driving in general, and they got me a first time pass! Highly recommended.</p>

          <span>Pinco Pallo</span>

          <div class="testimonials-box-slider-nav">
            nav
            <!-- <i @click="imgIndex = index" v-for="(item, index) in imgs" :class="iActiveOnIndexMatch(index)"></i> -->
          </div>
        </div>
      </div>
      <!-- /Testimonials Box -->

      <!-- News box -->
      <div class="news-box">
        <div class="container">
          <div class="news-box-card">
            <h2>Latest News</h2>

            <div class="news-box-card-content">
              <div class="news-box-card-content-article">
                <div class="news-box-card-content-article-img">
                  <img src="img/blog-choosecar-700x441.jpg" alt="">
                </div>

                <h4>What Car to Start With?</h4>

                <div class="news-box-card-content-article-info">
                  <span class="news-box-card-content-article-info-date">
                    February 7th, 2019
                  </span>

                  <span class="news-box-card-content-article-info-pipe">|</span>

                  <span class="news-box-card-content-article-info-comment"> Comments</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
              </div>
            </div>

            <div class="green-btn">
              MORE FROM THE BLOG
            </div>
          </div>

          <div class="triangle-img">
            <img src="img/latestnews-bottom-1200x105.png" alt="">
          </div>
        </div>
      </div>
      <!-- /News box -->

      <!-- Signup Newsletter box -->
      <div class="signup-newsletter-box">

      </div>
      <!-- /Signup Newsletter box -->
    </main>
    <!-- /main -->

    <!-- footer -->
    <footer>
      <div class="upper-footer">

      </div>

      <div class="lower-footer">

      </div>
    </footer>
    <!-- /footer -->
  </div>
  eefw
  <!-- /Wrapper di pagina che contiene l'app -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
