@import "colors";

@import "base-style";

header{
  position: absolute;
  width: 100%;

  .upper-header{
    background-color: $header-color;
    padding: 15px 0;

    .container{
      display: flex;
      justify-content: space-between;

      span{
        font-size: 12px;
        color: $custom-grey;

        i{
          margin-right: 10px;
        }
      }
    }
  }

  .lower-header{
    background-color: $header-color-opacity;
    padding: 30px 0;
    font-size: 14px;
    font-weight: bold;

    .container{
      display: flex;
      align-items: center;

      .logo{
        height: 50px;
        width: 350px;

        img{
          height: 100%;
        }
      }

      ul{
        width: calc(100% - 350px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        li{
          color: #fff;

          &.active{
            color: $green-custom;
            transform: translate(0, 4px);
          }

          &.active::after{
            color: $green-custom;
            content: '';
            display: block;
            width: 100%;
            margin-top: 5px;
            border-bottom: 3px solid $green-custom;
          }

          .new-tag{
            font-size: 10px;
            padding: 2px 5px;
            background-color: $green-custom;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

main{
  .jumbotron{
    background-image: url(../img/homepage-hero-background.jpg);
    background-position: center top;
    background-size: cover;
    color: #fff;

    .container{
      padding-top: 400px;
      padding-bottom: 280px;

      h1{
        font-size: 60px;
        margin-bottom: 15px;
      }

      h3{
        font-weight: normal;
      }
    }
  }

  .join-lessons-box{

    .container{
      display: flex;

      .join-lessons-description{
        width: 50%;
        padding: 80px 5% 80px 0;

        h2{
          margin-bottom: 30px;
        }

        .subtitle{
          font-size: 21px;
          line-height: 40px;
          margin-bottom: 30px;
        }

        p{
          line-height: 30px;
        }
      }

      .join-lessons-form{
        width: 50%;
        padding-left: 5%;

        &-card{
          @include card-style;
          transform: translateY(-40px);

          h3{
            margin-bottom: 30px;
            text-align: center;
            color: $green-custom;
          }

          p{
            text-align: center;
            margin-bottom: 30px;
          }

          form{
            display: flex;
            flex-direction: column;

            input{
              height: 45px;
              padding: 0 15px;
              margin-bottom: 30px;
              border: 1px solid $grey-input-border-placeholder;
              border-radius: 5px;
              background-color: $grey-input-background;
              outline: none;

              &::placeholder{
                color: $custom-grey;
              }
            }

            .green-btn{
              width: fit-content;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .number-box{
    height: 150px;
    padding: 60px 0;
    background-image: url(../img/horizontal-cta-background.jpg);
    background-position: center;
    background-size: cover;
  }
}
