@import "colors";

@import "base-style";

header{
  position: absolute;
  width: 100%;

  .upper-header{
    background-color: $header-color;
    padding: 15px 0;

    .container{
      display: flex;
      justify-content: space-between;

      span{
        font-size: 12px;
        color: $custom-grey;

        i{
          margin-right: 10px;
        }
      }
    }
  }

  .lower-header{
    background-color: $header-color-opacity;
    padding: 30px 0;
    font-size: 14px;
    font-weight: bold;

    .container{
      display: flex;
      align-items: center;

      .logo{
        height: 50px;
        width: 350px;
        cursor: pointer;

        img{
          height: 100%;
        }
      }

      ul{
        width: calc(100% - 350px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        li{
          color: #fff;
          cursor: pointer;

          &.active{
            color: $green-custom;
            transform: translate(0, 4px);
          }

          &.active::after{
            color: $green-custom;
            content: '';
            display: block;
            width: 100%;
            margin-top: 5px;
            border-bottom: 3px solid $green-custom;
          }

          .new-tag{
            font-size: 10px;
            padding: 2px 5px;
            background-color: $green-custom;
            border-radius: 3px;
          }
        }
      }
    }
  }
}


.jumbotron{
  background-image: url(../img/homepage-hero-background.jpg);
  background-position: center top;
  background-size: cover;
  color: #fff;

  .container{
    padding-top: 400px;
    padding-bottom: 280px;

    h1{
      font-size: 60px;
      margin-bottom: 15px;
    }

    h3{
      font-weight: normal;
      font-size: 26px;
    }
  }
}

.join-lessons-box{

  .container{
    display: flex;

    .join-lessons-description{
      width: 50%;
      padding: 80px 3% 80px 0;

      h2{
        margin-bottom: 30px;
        color: $h2-grey;
      }

      .subtitle{
        font-size: 21px;
        // line-height: 40px;
        margin-bottom: 30px;
      }

      p{
        // line-height: 30px;
      }
    }

    .join-lessons-form{
      width: 50%;
      padding-left: 2%;

      &-card{
        @include card-style;
        box-shadow: $cards-shadow-1 50px $cards-shadow-2;
        transform: translateY(-40px);

        h3{
          font-size: 30px;
          margin-bottom: 30px;
          text-align: center;
          color: $green-custom;
        }

        p{
          text-align: center;
          margin-bottom: 30px;
        }

        form{
          display: flex;
          flex-direction: column;

          input{
            height: 45px;
            padding: 0 15px;
            margin-bottom: 30px;
            border: 1px solid $grey-input-border-placeholder;
            border-radius: 5px;
            background-color: $grey-input-background;
            outline: none;

            &::placeholder{
              color: $custom-grey;
            }

            &.required{
              border:2px solid red;

              &::placeholder{
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

.number-box{
  padding: 60px 0;
  background-image: url(../img/horizontal-cta-background.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    .number-box-left{
      width: 800px;
      padding-bottom: 30px;

      h2{
        margin-bottom: 10px;
      }

      h3{
        font-size: 21px;
      }
    }

    .number-box-right{
      width: calc(100% - 800px);
      font-size: 30px;
    }
  }
}

.courses-box{
  background-image: url(../img/promise-background.jpg);
  background-position: bottom;
  background-size: cover;

  .container{
    display: flex;
    justify-content: space-between;

    .info-card{
      @include card-style;
      box-shadow: $cards-shadow-1 40px $cards-shadow-2;
      transform: translateY(-30px);
      position: relative;
      overflow: hidden;
      width: 430px;

      .img-new{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0;
        left: 0;

        img{
          width: 100%
        }
      }

      h2{
        color: $h2-grey;
      }

      p{
        padding: 40px 0;
      }
    }

    .course-box{
      padding: 80px 0 160px;
      text-align: center;

      &-img{
        width: 192px;
        margin-bottom: 20px;

        img{
          width: 100%;
        }
      }

      h4{
        color: $courses-blue;
        margin-bottom: 15px;
      }
    }
  }
}
