@mixin card-style {
  padding: 50px 40px;
  border-radius: 10px;
  box-shadow: 1px 50px 30px 5px #eee;
  background-color: #fff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Mulish', sans-serif;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 26px;
}

ul{
  list-style: none;
}

p{
  font-size: 16px;
  color: $custom-grey;
}

.wrapper{
  width: 100%;
  max-width: 100vw;
  position: relative;
}

.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.green-btn{
  padding: 12px 30px;
  background: $green-custom;
  border-radius: 30px;
  color: #fff;
}
