$header-color: #353637;

$header-color-opacity: #35363760;

$custom-grey: #929AA3;

$green-custom: #7abc64; //#333333

$green-hover: #69AA53;

$grey-input-background: #f7f7f7;

$grey-input-border-placeholder: #d8d8d8;

$h2-grey: #494c4e;

$courses-blue: #7799ad;

$percentage-grey: #929aa3;
